@import "../../styles/utils/vars.scss";
@import "../../styles/utils/typography.scss";
@import "../../styles/utils/mixins.scss";

.Slider {
  width: 716px;
  height: 360px;
  padding-bottom: 60px;
  box-sizing: content-box;
  @include adaptiv-value("width", 716, 280, 0);
  align-self: center;

  @include iPad {
    height: 400px;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include adaptiv-value("font-size", 32, 18, 0);
    line-height: 129%;
    font-weight: 600;
  }

  &__info {
    padding-top: 12px;
    @include adaptiv-value("font-size", 17, 14, 0);
    line-height: 129%;
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  display: flex;
  gap: 40px;
  padding-left: 8px;
}

.swiper-pagination-bullet {
  background-color: rgba(206, 206, 206, 1);
  width: 9px;
  height: 9px;
  opacity: 1;
  margin: 36px 0 !important;
  z-index: 3;
}

.swiper-pagination-bullet-active {
  position: relative;
  background-color: $orange !important;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 1px solid rgba(243, 63, 94, 1);
    border-radius: 50%;
  }
}

.swiper-button-disabled {
  color: #fff;
  opacity: 0.7;
}
